In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#load datasets
resale_flats = pd.read_csv('ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')
rent_flats = pd.read_csv('RentingOutofFlatsfromJan2021.csv')
print(resale_flats.head())
print(rent_flats.head())
#some data that are present in 1 dataset are not present in the other
#namely story_range, floor area, flat model, lease remaining

     month        town flat_type block        street_name storey_range  \
0  2017-01  ANG MO KIO    2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
1  2017-01  ANG MO KIO    3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2  2017-01  ANG MO KIO    3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
3  2017-01  ANG MO KIO    3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
4  2017-01  ANG MO KIO    3 ROOM   601   ANG MO KIO AVE 5     01 TO 03

   floor_area_sqm      flat_model  lease_commence_date     remaining_lease  \
0            44.0        Improved                 1979  61 years 04 months
1            67.0  New Generation                 1978  60 years 07 months
2            67.0  New Generation                 1980  62 years 05 months
3            68.0  New Generation                 1980   62 years 01 month
4            67.0  New Generation                 1980  62 years 05 months

   resale_price
0      232000.0
1      250000.0
2      262000.0
3      265000.0
4      265000.0
  rent_approval_date        town block       street_name flat_type  \
0            2021-01  ANG MO KIO   105  ANG MO KIO AVE 4    4-ROOM
1            2021-01  ANG MO KIO   107  ANG MO KIO AVE 4    3-ROOM
2            2021-01  ANG MO KIO   108  ANG MO KIO AVE 4    3-ROOM
3            2021-01  ANG MO KIO   111  ANG MO KIO AVE 4    5-ROOM
4            2021-01  ANG MO KIO   111  ANG MO KIO AVE 4    5-ROOM

   monthly_rent
0          2000
1          1750
2          1750
3          2230
4          2450
['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG'
 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON'
 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN']
['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG' 'HOUGANG'
 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE' 'PASIR RIS'
 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON' 'TAMPINES'
 'TOA PAYOH' 'WOODLANDS' 'YISHUN' 'TENGAH']

In [ ]:
#preprocessing
#Using towns as common key for clustering
resale_towns = resale_flats['town'].unique()
rent_towns = rent_flats['town'].unique()

print(resale_towns)
print(rent_towns)
#rent_towns has Central Area which is not present in resale_towns (central) 
#So we will replace Central Area with Central in rent_flats
rent_flats['town'] = rent_flats['town'].replace('CENTRAL AREA', 'CENTRAL')
#resale_towns does not have TENGAH but rent_towns has TENGAH
#we will not use tengah in our analysis as a result (total 25 towns)
common_towns = set(resale_towns).intersection(set(rent_towns))
print(len(common_towns))
#drop rows with towns not in common_towns, these will be used as a direct comparison
resale_flats_clean = resale_flats[resale_flats['town'].isin(common_towns)] 
rent_flats_clean = rent_flats[rent_flats['town'].isin(common_towns)]

['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG'
 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON'
 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN']
['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG' 'HOUGANG'
 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE' 'PASIR RIS'
 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON' 'TAMPINES'
 'TOA PAYOH' 'WOODLANDS' 'YISHUN' 'TENGAH']
25